<div class="left-menu">
    <div class="row title">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>BrewingNotepad
    </div>

    <div class="row menu" ng-repeat="page in menu | filter: {parent: -1} | filter: {showinmenu: true}">
        <div class="menu-panel">
            <div class="menu-panel-heading" onclick="toggleMenuPanel(this)">
                <span class="glyphicon glyphicon-home" aria-hidden="true" ng-click="changePage(page.id)"></span> {{page.label}}
                <span class="sh-arrow glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </div>
            <div class="menu-panel-body">
                <div class="list-group">
                    <div ng-repeat="item in menu | filter: { parent: page.id } | filter: {showinmenu: true}" ng-click="changePage(item.id)" ng-href="#" class="menu-list-group-item"
                        ng-class="{selected: item.id == currentPage}">
                        <div>{{item.label}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--
    <div class="row menu-calculators">
        <div class="menu-panel">
            <div class="menu-panel-heading" onclick="toggleMenuPanel(this)">
                <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Calculators
                <span class="sh-arrow glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </div>
            <div class="menu-panel-body">
                <div class="list-group">
                    <div ng-repeat="item in menu | filter: { showInMenu: 'calculators' }" ng-click="changePage(item.id)" ng-href="#" class="menu-list-group-item"
                        ng-class="{selected: item.id == currentPage}">
                        <div>{{item.label}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>