.batch-container {
    border: 1px solid red;
}
.batch-container .title-container {
    margin-bottom: 40px;
}

.batch-container .title {
    font-size: 24px;
    display: block;
}

.batch-container .subtitle {
    font-size: 16px;
    display: block;
}

.batch-container .batch-data {
    border: 1px solid #5e5e5e;
}

.batch-container .batch-data > .title {
    font-size: 20px;
    background-color: #eee;
    border-bottom: 1px solid #5e5e5e;
    padding: 5px;
}

.batch-container .batch-data > .content {
    padding: 20px 10px;
}
/* bootstrap overrides */
label {
    font-weight: 100;
}
